#introduction p, #endnote p {
	margin-top: 0;
}
#introduction h2, #endnote h2 {
	margin: 0;
}

#banner {
	padding: 30px 0 100px;
	margin-bottom: 3.5em;
	text-align: center;
	color: white;
	background-position: center bottom;
	background-size: 100%;
	background-repeat: no-repeat;

}

#banner h1 {
	text-transform: uppercase;
}

#members {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
}

#members a {
	color: inherit;
}

#members .member {
	width: calc(33% - 1em);
	padding: 1em;
	background-color: var(--lighter-gray);
	text-align: center;
	margin: 0 0 2em 0;
}

#members .full-name {
	font-weight: bold;
	font-size: 1.3em;
}

#members .role {
	margin-bottom: 1em;
	font-weight: bold;
}

#members .avatar {
	width: 120px;
	height: 120px;
	margin: 2em auto;
}

#members .social {
	margin: .5em 0;
}
