#landing {
	min-height: 70vh;
	align-items: center;
	position: relative;
}

#landing-text {
	width: calc(50% - (var(--container-padding) * 2));
}

#landing-text .content {
	font-size: 1.2em;
}

#landing-decoration {
	background-color: var(--msn);
	height: 100%;
	flex-grow: 1;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;
}
