<div class="member">
	{% set name1 = member.full_name or member.alias %}
	{% set name2 = member.alias if member.full_name else None %}
	{% set url = url_for('main.user', id=member.user.id) if member.user else None %}

	{% if url %}
	{% if name1 %}{% set name1 = '<a href="'|safe + url + '">'|safe + name1|e + '</a>'|safe %}{% endif %}
	{% if name2 %}{% set name2 = '<a href="'|safe + url + '">'|safe + name2|e + '</a>'|safe %}{% endif %}
	{% endif %}
	<div class="full-name">{{ name1|safe }}</div>
	{% if name2 %}<div class="alias">alias {{ name2|safe }}</div>{% endif %}
	{% if member.role %}<div class="role">{{ member.role }}</div>{% endif %}
	{% if member.avatar_url %}
	{% if url %}<a href="{{ url }}">{% endif %}
	<img src="{{ member.avatar_url }}" class="avatar">
	{% if url %}</a>{% endif %}
	{% endif %}
	{% if member.user.socials %}
	<div class="socials">
		{% for x in member.user.socials_html %}
		{{ x|safe }}
		{% endfor %}
	</div>
	{% endif %}
</div>
