{% set styles=['about_msn'] %}
{% set main_id='about_msn' %}
{% extends "base.html" %}
{% block content %}

<div id="banner" class="big-container borderless" style="background-image: url(https://cdn.discordapp.com/attachments/559512661717417986/828043492118364160/header.png)">
	<div class="small-container">
		<h1>L'association</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, ipsum id cursus consectetur, ante arcu tempus libero, eget convallis tellus ante sit amet lacus.
		</p>
	</div>
</div>

<div class="container">
	<section id="introduction" class="col2 spaced">
		<div class="content">
			<h2>Lorem</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, ipsum id cursus consectetur, ante arcu tempus libero, eget convallis tellus ante sit amet lacus. Praesent ac tempus ipsum. In in libero maximus, aliquet libero eget, congue tortor. Vestibulum ultrices, erat id hendrerit condimentum, nibh urna consequat felis, quis vestibulum elit nibh eleifend massa.
			</p>
			<h2>Ipsum</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, ipsum id cursus consectetur, ante arcu tempus libero, eget convallis tellus ante sit amet lacus. Praesent ac tempus ipsum. In in libero maximus, aliquet libero eget, congue tortor. Vestibulum ultrices, erat id hendrerit condimentum, nibh urna consequat felis, quis vestibulum elit nibh eleifend massa. Nullam ornare egestas vestibulum. In consequat fringilla lorem, eu dapibus massa. Proin nibh lectus, efficitur et pretium eu, varius id arcu. Sed vitae semper nibh, a volutpat ipsum. Fusce nec purus non purus consequat imperdiet. Vivamus enim nulla, convallis quis nulla vel, suscipit semper est. Pellentesque consequat elit eget arcu consequat, tincidunt efficitur nulla finibus. Cras pretium maximus augue, vitae.
			</p>
		</div>
		<div>
			<img src="https://pbs.twimg.com/media/ERE3B8hWkAcJ3GW?format=jpg" class="illust">
		</div>
	</section>

	<section id="members">
		{% for member in members %}
		{% include "_staff.html" %}
		{% endfor %}
	</section>

	<div id="endnote" class="col2 spaced">
		<div class="decorated-illusts">
			<img src="https://pbs.twimg.com/media/ERE3B8hWkAcJ3GW?format=jpg" class="illust">
			<img src="https://pbs.twimg.com/media/ERE3B8hWkAcJ3GW?format=jpg" class="illust">
		</div>
		<div class="content">
			<h2>Lorem</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, ipsum id cursus consectetur, ante arcu tempus libero, eget convallis tellus ante sit amet lacus. Praesent ac tempus ipsum. In in libero maximus, aliquet libero eget, congue tortor. Vestibulum ultrices, erat id hendrerit condimentum, nibh urna consequat felis, quis vestibulum elit nibh eleifend massa. Nullam ornare egestas vestibulum. In consequat fringilla lorem, eu dapibus massa. Proin nibh lectus, efficitur et pretium eu, varius id arcu. Sed vitae semper nibh, a volutpat ipsum. Fusce nec purus non purus consequat imperdiet. Vivamus enim nulla, convallis quis nulla vel, suscipit semper est. Pellentesque consequat elit eget arcu consequat, tincidunt efficitur nulla finibus. Cras pretium maximus augue, vitae.
			</p>
			<h2>Ipsum</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, ipsum id cursus consectetur, ante arcu tempus libero, eget convallis tellus ante sit amet lacus. Praesent ac tempus ipsum. In in libero maximus, aliquet libero eget, congue tortor. Vestibulum ultrices, erat id hendrerit condimentum, nibh urna consequat felis, quis vestibulum elit nibh eleifend massa. Nullam ornare egestas vestibulum. In consequat fringilla lorem, eu dapibus massa. Proin nibh lectus, efficitur et pretium eu, varius id arcu. Sed vitae semper nibh, a volutpat ipsum. Fusce nec purus non purus consequat imperdiet. Vivamus enim nulla, convallis quis nulla vel, suscipit semper est. Pellentesque consequat elit eget arcu consequat, tincidunt efficitur nulla finibus. Cras pretium maximus augue, vitae.
			</p>
		</div>
	</div>
</div>

{% endblock %}
