{% set styles=['home'] %}
{% set main_id='home' %}
{% extends "base.html" %}
{% block content %}

<section id="landing" class="container col2">
	<div id="landing-text" class="padded-right">
		<h1>L'expérience jeux musicaux d'arcade en France</h1>
		<p class="content">
			Passionnés de rhythm games, nous voulons en faire un hobby le plus
			accessible possible et le faire découvrir au plus grand nombre. Nous nous
			focalisons sur les jeux musicaux d'arcade.
		</p>
		<p class="col-centered">
			<a class="button" href="{{ url_for('main.about_msn') }}">Découvrir l'association</a>
		</p>
	</div>
	<div id="landing-decoration">
		<img id="landing-picture" src="{{ url_for('static', filename='msn-keyart.png') }}">
		<div id="landing-bars">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</div>
</section>

<section id="next-events" class="container">
	<h2>Les prochains événements</h2>
	<div class="content">

		<div class="event">
			<header style="background-image: url('https://pbs.twimg.com/media/EhuW_rkXcAA1q9-?format=jpg')">
				<span class="relative-time">Dans 3 jours</span>
			</header>
			<div class="details">
				<div class="detailed-time col-centered">
					<span class="day-name">Samedi</span>
					<span class="day-number">18</span>
					<span class="month">Mai</span>
					<span class="time">14h&nbsp;-&nbsp;20h</span>
				</div>
				<div class="detailed-text col-spaced">
					<div>
						<div class="categories">
							<span class="category">Meet-up</span>
						</div>
						<div class="title">Meet-up hebdomadaire</div>
						<p class="description">
							Venez jouer à des jeux parce que on est jolis et en plus on mange
							pas les petits enfants.
						</p>
					</div>
					<a class="button event-register">S'inscrire</a>
				</div>
			</div>
		</div>

		<div class="event">
			<header style="background-image: url('https://pbs.twimg.com/media/EhuW_rkXcAA1q9-?format=jpg')">
				<div class="relative-time">Dans 10 jours</div>
			</header>
			<div class="details">
				<div class="detailed-time col-centered">
					<span class="day-name">Week-end</span>
					<span class="day-number">25&nbsp;-&nbsp;26</span>
					<span class="month">Mai</span>
					<span class="time">14h&nbsp;-&nbsp;20h</span>
				</div>
				<div class="detailed-text col-spaced">
					<div>
						<div class="categories">
							<span class="category">Meet-up</span>
						</div>
						<div class="title">Meet-up hebdomadaire</div>
						<p class="description">
							Venez jouer à des jeux parce que on est jolis et en plus on mange
							pas les petits enfants.
						</p>
					</div>
					<a class="button event-register">S'inscrire</a>
				</div>
			</div>
		</div>

	</div>
	<p class="col-centered">
		<a class="button">Voir tous les prochains événements</a>
	</p>
</section>

<section id="discover-rhythm-games">
	<h2>Découvrez les jeux de rythme</h2>
	<div class="content big-container borderless col2 inverted">
		<div class="left col-spaced">
			<div>
				<h3 class="title">Les différents jeux</h3>
				<p>
					Jeux de danse, simulateurs de batterie, jeux d'idols, il y en a pour
					tous les goûts et sur tous les supports. Si vous voulez découvrir des
					jeux vous allez être servi par notre liste accompagnée d'introductions
					et guides écrits par notre staff.
				</p>
				<p>
					Notre liste inclus également des jeux que vous pouvez jouer à la
					maison !
				</p>
			</div>
			<p class="col-centered">
				<a class="button">En savoir plus</a>
			</p>
		</div>

		<div class="right col-spaced">
			<div>
				<h3 class="title">Où y jouer</h3>
				<p>
					En France et pays limitrophes, il y a de nombreux lieux où il est
					possible de jouer aux jeux musicaux d'arcade. Que ce soit permanant
					tel que dans des salles de jeux ou temporairement dans des conventions
					ou meetups présentées par des associations, laissez vous tenter par
					ces bouts de Japon !
				</p>
			</div>
			<p class="col-centered">
				<a class="button">En savoir plus</a>
			</p>
		</div>
	</div>
</section>

<section id="previous-events" class="container">
	<h2>En images</h2>
	<div class="content grid">
		<img class="grid-item" src="https://pbs.twimg.com/media/ERac77pXkAEfe-b?format=jpg">
		<img class="grid-item" src="https://pbs.twimg.com/media/ERac9rtXYAINSiD?format=jpg">
		<img class="grid-item big" src="https://pbs.twimg.com/media/ERE3liJW4AANlSD?format=jpg">
		<img class="grid-item" src="https://pbs.twimg.com/media/ELMdpbaW4AAZYVC?format=jpg">
		<img class="grid-item" src="https://pbs.twimg.com/media/EGq-nqzW4AISfbq?format=jpg">
	</div>
	<p class="col-centered">
		<a class="button">Voir les événements précédents</a>
	</p>
</section>

{% endblock %}
