* {
	box-sizing: border-box;
}

body {
	margin: 80px 0 0;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	position: relative;
}

img {
	max-width: 100%;
}

a {
	cursor: pointer;
	text-decoration: none;
}

h2 {
	font-size: 1.5em;
	font-weight: var(--font-medium);
}

section > h2 {
	text-align: center;
	margin: 2em 0 1em;
}

main section {
	margin-bottom: 5em;
}

main {
	min-height: calc(100vh - 400px - 5em);
	margin-bottom: 10em;
}

#click-overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	background-color: var(--gray);
	opacity: .5;
	z-index: 100;
	display: none;
}

#click-overlay.active {
	display: initial;
}

.main-title {
	font-family: 'Bungee', sans-serif;
	text-decoration: none;
	color: inherit;
}

.main-title .main-logo {
	width: 3em;
	height: 3em;
	margin-right: .5em;
	vertical-align: -1.1em;
}

.inverted {
	color: white;
}

.inverted .button {
	background-color: white;
	color: var(--msn);
}

.avatar {
	border-radius: 50%;
	display: block;
	object-fit: cover;
	object-position: center;
}

.illust {
	border-radius: 1em;
}
