* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

a {
	cursor: pointer;
	text-decoration: none;
}

h2 {
	font-size: 1.5em;
	font-weight: var(--font-medium);
}

section > h2 {
	text-align: center;
	margin: 2em 0 1em;
}

.emoji, .icon {
	width: 1em;
	height: 1em;
	object-fit: contain;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

.icon.discord {
	vertical-align: -0.2em;
}

.main-title {
	font-family: 'Bungee', sans-serif;
	text-decoration: none;
	color: inherit;
}

.main-title .main-logo {
	width: 3em;
	height: 3em;
	margin-right: .5em;
	vertical-align: -1.1em;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

.section-title {
	font-size: 1.3em;
	font-weight: bold;
}

.col-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-spaced {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.col2 {
	display: flex;
	flex-direction: row;
}

.col2 > * {
	width: 50%;
}
