.container {
	max-width: 1200px;
}

.big-container {
	max-width: 2200px;
}

.small-container {
	max-width: 780px;
}

.container,
.big-container,
.small-container {
	margin: auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

.container.borderless, .big-container.borderless, .small-container.borderless {
	padding-left: 0;
	padding-right: 0;
}

.section-title {
	font-size: 1.3em;
	font-weight: bold;
}

.flex-grid {
	display: flex;
	flex-flow: wrap row;
}

.col-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-spaced {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.col2 {
	display: flex;
	flex-direction: row;
}

.col2 > * {
	width: 50%;
}
