footer {
	color: white;
	background-color: var(--msn);
	text-align: center;
	padding: 1em 100px;
	position: relative;
	min-height: 350px;
}

footer .main-title {
	font-size: 1.4em;
	margin: 1em 0;
	display: block;
}

footer nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1em 0;
}

footer nav section {
	display: flex;
	flex-direction: column;
}

footer nav .section-name {
	font-weight: bold;
}

footer nav a {
	margin: 0.3em 0;
}

#footer-bars {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#footer-bars .bar {
	width: 150px;
	height: 25px;
	border-radius: 25px;
	background-color: white;
	margin: 10px 0;
}

#footer-bars-left, #footer-bars-right {
	position: absolute;
}

#footer-bars .bar:nth-child(2) {
	left: -20px;
	position: relative;
}

#footer-bars-left {
	left: -50px;
	top: 100px;
	transform: rotate(-50deg);
}

#footer-bars-right {
	right: -75px;
	top: 200px;
	transform: rotate(-50deg);
}
	
#sns {
	font-size: 2.5em;
}

#sns a {
	margin: 0 0.2em;
}

#copy {
	padding: 0.5em 0;
	text-align: center;
}
