#navbar {
	background-color: white;
	padding: 1em 0;
	width: 100%;
	position: sticky;
	top: 0;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	z-index: 10;
}

#navbar .container {
	display: flex;
	flex-flow: wrap row;
	align-items: center;
	justify-content: space-between;
}

#navbar .main-title {
	margin-right: 6em;
}

#navbar nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}
