#navbar {
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	z-index: 101;
}

#navbar .container {
	display: flex;
	flex-flow: wrap row;
	align-items: center;
	justify-content: space-between;
}

#navbar .main-title {
	margin-right: 5em;
}

#navbar nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

#navbar a, #navbar a:visited {
	color: inherit;
}

#navbar a.button {
	color: white;
}

#navbar .profile .title .value,
#navbar .profile .caret {
	display: none;
}

#navbar .avatar {
	height: 3em;
}

#navbar section {
	position: relative;
	display: flex;
	padding: 2em 0;
	justify-content: center;
}

#navbar section.section-user {
	padding: calc(2em - 12px);
}

#navbar section .subsection {
	display: none;
	flex-direction: column;
	padding: 0 1em 1em 1em;
	position: absolute;
	top: 100%;
	min-width: 100%;
	text-align: center;
	background-color: white;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 2px 2px var(--shadow-color);
}

#navbar section .avatar ~ .subsection {
	margin-top: 4px;
}

#navbar section:hover .subsection {
	display: flex;
}

#navbar .subsection > * {
	display: block;
	border-top: 1px solid var(--light-gray);
	padding: 0.5em 0;
}

#navbar .subsection > *:nth-child(1) {
	border-top: none;
}

#navbar section .section-name {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#navbar section .section-name .icon {
	margin-left: 6px;
}

#nav-toggle > * {
	display: none;
	cursor: pointer;
}

#nav-toggle {
	font-size: 3em;
}
