:root {
	--msn: #333333;
	--discord: #7289DA;
	
	--dark-blue: #003566;
	--light-gray: #DDDDDD;
	--gray: #4D4D4D;

	--font-medium: 500;

	--container-padding: 3em;
	--shadow-color: rgba(0, 0, 0, .25);
	--shadow: 0 1px 6px var(--shadow-color);
}
