.container {
	max-width: 1200px;
}

.big-container {
	max-width: 2200px;
}

.small-container {
	max-width: 780px;
}

.container,
.big-container,
.small-container {
	margin: auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

.container.borderless, .big-container.borderless, .small-container.borderless {
	padding-left: 0;
	padding-right: 0;
}

.panel {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .75);
	border-radius: 6px;
	padding: 1em;
}

.section-title {
	font-size: 1.3em;
	font-weight: bold;
}

.flex-grid {
	display: flex;
	flex-flow: wrap row;
}

.col-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-spaced {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.col2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.col2 > * {
	width: 50%;
}

.col2.spaced > * {
	width: calc(50% - 1em);
}

.card {
	box-shadow: 0 1px 5px rgba(0, 0, 0, .75);
}
