<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% if title %}
		{{ title }} - Make Some Noise
		{% else %}
		Make Some Noise, pour l'amour des jeux musicaux d'arcade !
		{% endif %}
	</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

	{% assets 'css' %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
</head>

<body>
	<div id="body">
		<div id="click-overlay"></div>
		<div id="navbar">
			<div class="container">
				<div class="navbar-small">
					<a class="main-title" href="{{ url_for('.index') }}">
						<img class="main-logo" src="{{ url_for('static', filename='logo-black.png') }}">
						<strong class="value">Make Some Noise</strong>
					</a>
					<div id="nav-toggle">
						<img class="icon burger" src="{{ url_for('static', filename='icons/burger.png') }}">
						<img class="icon cross" src="{{ url_for('static', filename='icons/cross.png') }}">
					</div>
				</div>
				<nav>
					<section>
						<a class="section-name">L'association</a>
					</section>
					<section>
						<span class="section-name">Jeux <img class="icon caret" src="{{ url_for('static', filename='icons/caret/down-gray.png') }}"></span>
						<div class="subsection">
							<a>Liste</a>
							<a>Guides</a>
							<a>Où jouer</a>
						</div>
					</section>
					<section>
						<span class="section-name">Nos événements <img class="icon caret" src="{{ url_for('static', filename='icons/caret/down-gray.png') }}"></span>
						<div class="subsection">
							<a>Prochains événements</a>
							<a>Galerie</a>
							<a>Archives</a>
						</div>
					</section>
					<section>
						<span class="section-name">La communauté <img class="icon caret" src="{{ url_for('static', filename='icons/caret/down-gray.png') }}"></span>
						<div class="subsection">
							<a>Joueurs</a>
							<a>Médias</a>
							<a>Carte</a>
						</div>
					</section>
					<section class="section-user">
						{% if current_user.is_authenticated %}
						<div class="section-name profile">
							<span class="title">
								<img class="avatar" src="{{ current_user.avatar }}">
								<span class="value">{{ current_user.name }}</span>
							</span>
							<img class="icon caret" src="{{ url_for('static', filename='icons/caret/down-gray.png') }}">
						</div>
						<div class="subsection">
							<a href="{{ url_for('.me') }}">Mon profil</a>
							<a href="{{ url_for('.logout') }}">Se déconnecter</a>
							{% if current_user.is_admin %}
							<a href="{{ url_for('.admin') }}">Admin</a>
							{% endif %}
						</div>
						{% else %}
						<div class="col-centered action-section">
							<a class="button white" href="{{ url_for('.login') }}">
							    Mon espace
							</a>
						</a>
					</div>
					{% endif %}
					</section>
				</nav>
			</div>
		</div>


		<main id="{{ main_id }}">

			<ul id="flash-messages">
				{% for message in get_flashed_messages() %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>

			{% block content %}
			{% endblock %}

		</main>


		<footer>
			<div id="footer-bars">
				<div id="footer-bars-left">
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
				<div id="footer-bars-right">
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
			</div>
			<a class="main-title" href="{{ url_for('.index') }}">
				<img class="main-logo" src="{{ url_for('static', filename='logo-white.png') }}">
				Make Some Noise
			</a>

			<nav class="container">
				<section>
					<a class="section-name">L'association</a>
				</section>
				<section>
					<a class="section-name">Explorer</a>
					<a>Les jeux</a>
					<a>Où jouer</a>
					<a>Les associations</a>
				</section>
				<section>
					<a class="section-name">Les Événements</a>
					<a>Prochains événements</a>
					<a>Galerie</a>
					<a>Archives</a>
				</section>
				<section>
					<a class="section-name">La communauté</a>
					<a>Joueurs</a>
					<a>Médias</a>
					<a>Carte</a>
				</section>
			</nav>

			<div id="sns">
				<a href="https://asso-msn.fr/discord"><img class="icon" src="{{ url_for('static', filename='icons/discord-white.png') }}"></a>
				<a href="https://www.facebook.com/assoMakeSomeNoise"><img class="icon" src="{{ url_for('static', filename='icons/facebook-white.png') }}"></a>
				<a href="https://github.com/asso-msn"><img class="icon" src="{{ url_for('static', filename='icons/github-white.png') }}"></a>
				<a href="https://twitter.com/assoMSN"><img class="icon" src="{{ url_for('static', filename='icons/twitter-white.png') }}"></a>
			</div>
		</footer>

		<div id="copy">
			<p>
				MIT Licensed code.
			</p>
			<p>
				Photographs: 2016 - <time data-date-fmt="yyyy">2022</time> MAKE SOME NOISE
			</p>
		</div>

	</div>
	<!-- Twemoji unifies emoji characters to use the same font across all devices -->
	<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
	<script>
		twemoji.parse(document.body);
	</script>
	<!-- Luxon is a library for manipulating and formatting dates, successor of Moment.js -->
	<script src="https://cdn.jsdelivr.net/npm/luxon@2/build/global/luxon.min.js"></script>
	<!-- Masonry helps with dynamic "grid" layouts -->
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    {% assets 'js' %}
	<script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>
