<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% if title %}
		{{ title }} - Make Some Noise
		{% else %}
		Make Some Noise, pour l'amour des jeux musicaux d'arcade !
		{% endif %}
	</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

	{% for style in styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/' + style + '.css') }}">
	{% endfor %}
	{% assets output="bundle.css",
	"css/variables.css",
	"css/base.css",
	"css/containers.css",
	"css/icons.css",
	"css/buttons.css",
	"css/navbar.css",
	"css/footer.css",
	"css/flash.css",
	"css/responsive.css"
	%}
	<link rel="stylesheet" href="{{ ASSET_URL|refresh }}">
	{% endassets %}

	<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
</head>

<body>

	<div id="navbar">
		<div class="container">
			<div class="navbar-small">
				<a class="main-title" href="{{ url_for('main.home') }}">
					<img class="main-logo" src="{{ url_for('static', filename='logo-black.png') }}">
					<strong class="value">Make Some Noise</strong>
				</a>
				<div class="nav-button">
					<img class="icon burger" src="{{ url_for('static', filename='icons/burger.png') }}">
					<img class="icon cross" src="{{ url_for('static', filename='icons/cross.png') }}">
				</div>
			</div>
			<nav>
				<section>
					<a class="section-name" href="{{ url_for('main.about_msn') }}">L'association</a>
				</section>
				<section>
					<a class="section-name">Explorer <img class="icon" src="{{ url_for('static', filename='icons/caret/down-gray.png') }}"></a>
					<div class="subsection">
						<a>Les jeux</a>
						<a>Où jouer</a>
						<a>Les associations</a>
					</div>
				</section>
				<section>
					<a class="section-name">Les événements <img class="icon" src="{{ url_for('static', filename='icons/caret/down-gray.png') }}"></a>
					<div class="subsection">
						<a>Prochains événements</a>
						<a>Gallerie</a>
						<a>Archives</a>
					</div>
				</section>
				<section>
					<a class="section-name">La communauté <img class="icon" src="{{ url_for('static', filename='icons/caret/down-gray.png') }}"></a>
					<div class="subsection">
						<a>Joueurs</a>
						<a>Médias</a>
						<a>Carte</a>
					</div>
				</section>
				{% if current_user.is_authenticated %}
				<section>
					<img class="avatar section-name" src="{{ current_user.avatar_url }}">
					<div class="subsection">
						<a href="{{ url_for('main.me') }}">Mon profil</a>
						<a href="{{ url_for('auth.logout') }}">Se déconnecter</a>
						{% if current_user.is_admin %}
						<a href="{{ url_for('admin.index') }}">Admin</a>
						{% endif %}
					</div>
				</section>
				{% else %}
				<a class="button discord" href="{{ url_for('auth.discord_login') }}">
					Connexion
					<img class="icon discord" src="{{ url_for('static', filename='icons/discord-white.png') }}">
				</a>
				{% endif %}
			</nav>
		</div>
	</div>


	<main id="{{ main_id }}">

		<ul id="flash-messages">
			{% for message in get_flashed_messages() %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>

		{% block content %}
		{% endblock %}

	</main>


	<footer>
		<div id="footer-bars">
			<div id="footer-bars-left">
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<div id="footer-bars-right">
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
		</div>
		<a class="main-title" href="{{ url_for('main.home') }}">
			<img class="main-logo" src="{{ url_for('static', filename='logo-white.png') }}">
			Make Some Noise
		</a>

		<nav class="container">
			<section>
				<a class="section-name" href="{{ url_for('main.about_msn') }}">L'association</a>
			</section>
			<section>
				<a class="section-name">Explorer</a>
				<a>Les jeux</a>
				<a>Où jouer</a>
				<a>Les associations</a>
			</section>
			<section>
				<a class="section-name">Les Événements</a>
				<a>Prochains événements</a>
				<a>Gallerie</a>
				<a>Archives</a>
			</section>
			<section>
				<a class="section-name">La communauté</a>
				<a>Joueurs</a>
				<a>Médias</a>
				<a>Carte</a>
			</section>
		</nav>

		<div id="sns">
			<a href="https://asso-msn.fr/discord"><img class="icon" src="{{ url_for('static', filename='icons/discord-white.png') }}"></a>
			<a href="https://www.facebook.com/assoMakeSomeNoise"><img class="icon" src="{{ url_for('static', filename='icons/facebook-white.png') }}"></a>
			<a href="https://github.com/asso-msn"><img class="icon" src="{{ url_for('static', filename='icons/github-white.png') }}"></a>
			<a href="https://twitter.com/assoMSN"><img class="icon" src="{{ url_for('static', filename='icons/twitter-white.png') }}"></a>
		</div>
	</footer>

	<div id="copy">
		All images except brand icons © 2016 - {{ moment().format('Y') }} MAKE SOME NOISE
	</div>

	<script>
		twemoji.parse(document.body);
	</script>
	{{ moment.include_jquery() }}
	{{ moment.include_moment() }}
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="{{ url_for('static', filename='js/base.js')|refresh }}"></script>
</body>
</html>
